{% extends "base.html" %}

    <h1>Job Listings</h1>
    {% if form %}
      <ul>
        {% for job_id, job_data in form.items() %}
          <li>
            <h2>{{ job_data['title'] }}</h2>
            <p><strong>Salary:</strong> {{ job_data['salary'] }}</p>
            <p><strong>Company:</strong> {{ job_data['company'] }}</p>
            <p><strong>Category:</strong> {{ job_data['category'] }}</p>
            <p><strong>Description:</strong> {{ job_data['description'] }}</p>
            <p><strong>Email:</strong> {{ job_data['email'] }}</p>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No job listings found.</p>
    {% endif %}
  </body>
</html>
